  .panel-style {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background: lightgray;
  }

  .size-container {
    margin-top: 20px;
  }
  
  .size-container input[type="text"] {
    margin-right: 10px;
    width: 90px;
  }

  .BF-btn {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  
  